@font-face {
    font-family: outfit;
    src: url(./Outfit-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 0 10px;
}

body::before{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url(./images.jpg);
    content: "";
    background-position: center;
    background-size: cover;
}

.content{
    width: 400px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgb(94, 106, 145);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(9px);
    font-family: outfit;
    color: rgb(126, 128, 197);
}

.content form{
    display: flex;
    flex-direction: column;
}

.content form h1{
    font-size: 2rem;
    margin-bottom: 19px;


}

.content form .inputspace{
    position: relative;
    border-bottom: 1px solid rgb(59, 75, 88);
    margin : 14px 0;

}

.content form .inputspace #inpute{
    width: 100%;
    height: 41px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: aliceblue;
}

.content form .inputspace #inputp{
    width: 100%;
    height: 41px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: aliceblue;
}

.content form .remember-forget{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px 20px 0px;
}

.content form .remember-forget .remember-me{
    display: flex;
    align-items: center;
    /* width: 100%; */
    justify-items: center;
    gap: 10px;
}

.content form button{
    border: 0.2px solid ;
    color: rgba(126, 129, 197, 0.801);
    background-color: black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    height: 45px;
    margin-bottom: 20px ;
}

#remember{
    height: 15px;
    width: 15px;
    accent-color: rgba(126, 129, 197, 0.801);
}

a{
    color: blueviolet;
}


